streamlit
langchain 
langchain-community 
azure-ai-formrecognizer 
azure-ai-textanalytics 
azure-ai-translation-text 
openai 
langchain-openai 
nltk 
sentence-transformers 
scikit-learn 
google-cloud-bigquery 
google-cloud-storage 
google-auth
db_dtypes